modules = ["nodejs-20", "web", "postgresql-16"]
[agent]
expertMode = true
integrations = ["javascript_database:1.0.0"]

[nix]
channel = "stable-25_05"

[deployment]
deploymentTarget = "static"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]
publicDir = "dist"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "API Server"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow]]
name = "API Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run server"
waitForPort = 3001

[workflows.workflow.metadata]
outputType = "console"

[[ports]]
localPort = 3001
externalPort = 80

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 5001
externalPort = 3000

[userenv]

[userenv.shared]
VITE_SUPABASE_URL = "https://trqxaizkwuizuhlfmdup.supabase.co"
VITE_SUPABASE_PROJECT_ID = "trqxaizkwuizuhlfmdup"
VITE_SUPABASE_PUBLISHABLE_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRycXhhaXprd3VpenVobGZtZHVwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzQ2ODk1NzcsImV4cCI6MjA1MDI2NTU3N30.uv3FElLBTsCNr3Vg4PooW7h1o2ZlivAFGawFH-Zqxns"
SUPABASE_DB_HOST = "db.trqxaizkwuizuhlfmdup.supabase.co"
SUPABASE_DB_USER = "postgres"
SUPABASE_DB_NAME = "postgres"
SUPABASE_DB_PORT = "5432"
SUPABASE_MANAGEMENT_TOKEN = "sbp_163b7cc3a08de31c58309d6a505679918455cb48"
TURSO_DATABASE_URL = "libsql://database-camel-grass-vercel-icfg-phme21mtjcwuvhoam0ywwbc4.aws-ap-northeast-1.turso.io"
JWT_SECRET = "cab4ebf14ac55a472dcfefa72afd37164471d8f16e8d648399c29ffb105075ee178b375e23b87cb0d843f97d65f1b520855b40f4d69998a7d0a598031fc7339b"
REDIS_URL = "redis://default:hYGfYoHWe2KymXktxIQEj1whq3d7Ezko@redis-10969.c256.us-east-1-2.ec2.cloud.redislabs.com:10969"
TURSO_AUTH_TOKEN = "eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE3NzQ4NzEzMDQsImlkIjoiMDE5ZDNlOTItZDgwMS03M2YzLTlhZWMtYzdjODU4OWI4ZjlmIiwicmlkIjoiYjdjMGE1NGItNjhmMS00NTc0LTk3ZTQtYjg0MDA0NmEzMmIxIn0.8mO_OajMtj9g_MSaZ4mmgd-Pe0Jy_ugswmxomhOVrXdlkGRGqAiYl1zsWOJr0wLtCd8Q69a5CobP88K9NsrTDQ"
BLOB_READ_WRITE_TOKEN = "vercel_blob_rw_lX7yy44rPMPAwIFM_FIAMNvU1kCgwpHII65iB6af26OnenZ"
